Repository TIMOCOM-GmbH/playwright-essentials: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js,jsx,tsx,md,json,yml,yaml}": ["prettier --write"],
  "src/**/*.ts": ["eslint --fix"]
}

Notes added by 'git notes add'
  2ea58afc3007a523f0d7e9e11849a48b8b779332
Due: none

PMAPH-1569: added localStorage item for blocking consent banner
  src/auth.setup.ts
Due: prettier --write, eslint --fix

feat: moved pendo consent banner blocker to blockPendo function
  src/auth.setup.ts
  src/utils.ts
Due: prettier --write, eslint --fix

feat: add mock implementation for addInitScript in blockPendo tests
  tests/unit/blockPendo.test.ts
Due: prettier --write

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  95b0de1af42cae471707414dff271f26202c9297
Due: none

feat: added new pendo domain for blocking
  src/utils.ts
Due: prettier --write, eslint --fix

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c4ff6cd6227c9a992e57a4e601b87bf8bf4dac36
Due: none

feat: changed pendo blocker into regex
  src/utils.ts
  tests/unit/blockPendo.test.ts
Due: prettier --write, eslint --fix

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0be87bec4884a07ee91c9b3f2871cae2e05edc0d
Due: none

chore: update changelog for 2FA improvements and add OTP generation
  package-lock.json
  package.json
  src/auth.setup.ts
  src/helpers/otp.ts
Due: prettier --write, eslint --fix

Revert "add otp as 2fa"
  package-lock.json
  package.json
  src/auth.setup.ts
  src/helpers/otp.ts
Due: prettier --write, eslint --fix

feat: bump package version and add otp support
  package-lock.json
  package.json
  src/auth.setup.ts
  src/helpers/index.ts
  src/helpers/otp.ts
Due: prettier --write, eslint --fix

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8d27b99ef84d0d7371695ee05084ee03980a9c7d
Due: none

fix: update OTP locator from '#totp' to '#otp' for login functionality
  src/auth.setup.ts
Due: prettier --write, eslint --fix

chore(release): 1.13.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  777d20af0007b4c73da21f8e0a71394d91ffeef7
Due: none

feat: added reactNativeWebView fixture
  README.md
  package.json
  src/fixtures/index.ts
  src/fixtures/reactNativeWebView.ts
  src/index.ts
  tests/unit/reactNativeWebView.test.ts
Due: prettier --write, eslint --fix

chore: update Node.js version requirements in CI and package files
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  277a229d8a798f227fff972561659754b1813e66
Due: none

fix: simplify types and improve setup function for ReactNativeWebView fixtures
  src/fixtures/reactNativeWebView.ts
Due: prettier --write, eslint --fix

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4b291825932b49e3068664fd66d8238cfe51dcae
Due: none

feat(fixtures): allow injecting an auth token into reactNativeWebView
  README.md
  src/fixtures/reactNativeWebView.ts
  tests/unit/reactNativeWebView.test.ts
Due: prettier --write, eslint --fix

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cc79002d59d5e7acc92c79bdbf296ad049bc9943
Due: none
