Repository TIMOCOM-GmbH/playwright-essentials: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(ci): relax commitlint for semantic-release and shorten release commit message
  .releaserc.json
  commitlint.config.cjs
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1fc15de3927fc9ce84e33ce5f9836f111a3fd183
Due: none

chore(ci): attach npm pack tarball to GitHub release via semantic-release exec
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fd9d62fc58401455a7ccc398e243c7ad7907d9e7
Due: none

docs: translate README to English
  README.md
Due: prettier --write

docs: remove outdated notes and version history from README
  README.md
Due: prettier --write

feat: add initial tests for auth setup and ensureLoggedIn functions
  commitlint.config.js
  package.json
  tests/unit/auth.setup.test.ts
  tests/unit/helpers.auth.test.ts
  tsconfig.vitest.json
Due: prettier --write

chore: update package-lock
  package-lock.json
Due: prettier --write

test: update getByTestId mock parameter to be more descriptive
  tests/unit/auth.setup.test.ts
Due: prettier --write

test: update ESLint config to correctly type-check test files with Vitest
  eslint.config.js
Due: prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0c5d16dcb45e98e7be7587ad3fd9325c3daef477
Due: none

feat: add navigation helpers and tests for page navigation functions
  README.md
  package.json
  src/helpers/index.ts
  src/helpers/navigation.test.ts
  src/helpers/navigation.ts
Due: prettier --write, eslint --fix

fix: remove redundant wait for load state in registerAuthSetup function
  src/auth.setup.ts
Due: prettier --write, eslint --fix

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bb03bd3e5462664b42936e35a8b0fc69c72035bc
Due: none

chore: update version to 1.2.0 in package-lock.json
  package-lock.json
Due: prettier --write

fix: add support for ignoring all environment variable files
  .gitignore
Due: none

feat: add Playwright configuration and update test scripts
  .gitignore
  package.json
  playwright.config.ts
  tsconfig.json
Due: prettier --write

refactor: move nevigation.test.ts in to unit test directory
  tests/unit/navigation.test.ts
Due: prettier --write

feat: enhance registerAuthSetup with joyride deactivation option and add corresponding tests
  src/auth.setup.ts
  tests/e2e/auth.spec.ts
  tests/unit/auth.setup.test.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

feat: update @playwright/test to version 1.55.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

refactor: rename deactivateJoyrides parameter and update related tests; remove e2e tests
  .gitignore
  playwright.config.ts
  src/auth.setup.ts
  tests/e2e/auth.spec.ts
  tests/unit/auth.setup.test.ts
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix

refactor: remove e2e test scripts and related package
  package.json
Due: prettier --write

chore: change test description to joyride and news for better clarification
  tests/unit/auth.setup.test.ts
Due: prettier --write

refactor: move deactivateJoyridesAndNews to RegisterAuthOptions
  src/auth.setup.ts
  tests/unit/auth.setup.test.ts
Due: prettier --write, eslint --fix

fix: remove unnecessary non-null assertion for deactivateJoyridesAndNews
  src/auth.setup.ts
Due: prettier --write, eslint --fix

fix: space
  tests/unit/auth.setup.test.ts
Due: prettier --write

feat(auth): optional joyride/news deactivation + Playwright & Vitest setup
  .gitignore
  package-lock.json
  package.json
  src/auth.setup.ts
  tests/unit/auth.setup.test.ts
  tests/unit/navigation.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ecaf82f63d47efe21613b366b8dddac26aa1871c
Due: none

fix: change localStorage to sessionStorage for news dialog setting
  src/auth.setup.ts
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  039358966a7242b5620c60f56ef6848072dac375
Due: none

fix: update base URL in README and auth setup, clear auth state before login
  README.md
  package-lock.json
  src/auth.setup.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,jsx,tsx,md,json,yml,yaml}
  eslint --fix: any of: src/**/*.ts
