Repository TIMOCOM-GmbH/playwright-essentials: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Notes added by 'git notes add'
  0d655c550e4b82356f35a2e07fadce1b834c6cea
Due: none

fix: improve auth cleanup logic to remove only the first directory segment for custom paths
  src/auth.setup.ts
  tests/unit/auth.cleanup.test.ts
Due: prettier --write, eslint --fix

fix: normalize baseURL to ensure it ends with a trailing slash in registerAuthSetup
  src/auth.setup.ts
  tests/unit/auth.setup.test.ts
Due: prettier --write, eslint --fix

fix: update paths in navigation helper to include 'app/' prefix
  src/helpers/navigation.ts
Due: prettier --write, eslint --fix

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8b24f4970e0282af3817518ff690344ccbdf6091
Due: none

fix: simplify absolute path check in registerAuthSetup cleanup tests
  tests/unit/auth.cleanup.test.ts
Due: prettier --write

refactor: clarify comments and improve storage state path handling in registerAuthSetup
  src/auth.setup.ts
Due: prettier --write, eslint --fix

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  76f52415093344452820dc37dd314ab5079543d0
Due: none

feat: add password grant token helpers and corresponding tests
  README.md
  package.json
  src/helpers/index.ts
  src/helpers/token.ts
  tests/password-grant-token.test.ts
Due: prettier --write, eslint --fix

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1f3a5c1d0386a9c235b2df11844ddb3148ee4b9c
Due: none

feat: update OAuth2 token helpers to support client credentials grant and improve error handling
  README.md
  src/helpers/token.ts
Due: prettier --write, eslint --fix

feat: update password grant token tests to use new authServer format and include grant_type
  tests/password-grant-token.test.ts
Due: prettier --write

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bfa58ed1c8e705a251a2d2b88f14a6a01a0e901b
Due: none

Add locators for new login
  src/auth.setup.ts
Due: prettier --write, eslint --fix

fix unit tests
  tests/unit/auth.cleanup.test.ts
  tests/unit/auth.setup.test.ts
Due: prettier --write

add 2FA callback
  src/auth.setup.ts
Due: prettier --write, eslint --fix

update readme
  README.md
  src/auth.setup.ts
Due: prettier --write, eslint --fix

fix locators
  src/auth.setup.ts
  tests/unit/auth.setup.test.ts
Due: prettier --write, eslint --fix

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0623b630535e7341333e6df962766f4da1a6358c
Due: none

fix: update locator for TAN input to use getByTestId method
  src/auth.setup.ts
Due: prettier --write, eslint --fix

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  dc7885f7a3b562613da5137b9c171f76338ded50
Due: none

feat: added blockPendo function and test
  src/utils.ts
  tests/unit/blockPendo.test.ts
Due: prettier --write, eslint --fix

fix: rollback semantic release version for compatibility
  package.json
Due: prettier --write

fix: updated package lock
  package-lock.json
Due: prettier --write

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c9e4e878aab3a9c58813a3e6cc5d6fa22e09d8de
Due: none

fix: added utils to package.json
  package.json
Due: prettier --write

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5b2d10f5f41b8d795102f2bc7ac5204fddfdba12
Due: none

fix: fixed build script
  package.json
Due: prettier --write

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0ea1e12e5f24031ef57f781c18068887f82abde3
Due: none

feat: add functions to block EUM requests and all analytics requests
  src/utils.ts
Due: prettier --write, eslint --fix

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,jsx,tsx,md,json,yml,yaml}
  eslint --fix: any of: src/**/*.ts
